Reading Data from Excel Files

In [33]:
import pandas as pd

In [63]:
# excel absolute file path
excel_file = 'iris.xls' # no file path as it is placed in the same folder of notebook
# read data from an excel file
iris_data = pd.read_excel(excel_file, sheet_name='Data') # excel_file
#iris_data = pd.read_excel('iris.xls', sheet_name='Data') # excel_file
# to read csv file:--> pd.read_csv("")
# check the first few rows of data loaded from Excel
#iris_data.tail(10)
iris_data.head()

ValueError: Excel file format cannot be determined, you must specify an engine manually.

In [45]:

# CSV files are mainly used for storing relational data and are quick and easy to use with Python and Jupyter.
# Pandas provides the read_csv() function that can load the data in any environment and provides features to analyze and visualize the loaded data
# csv file path
csv_file = 'Iris.csv'
# load data from the CSV file
iris_csv_data = pd.read_csv('Iris.csv')
# check the first few rows of data loaded from CSV
iris_csv_data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [53]:
# Syntax: df = pd.read_csv('filename.csv', usecols=['column1','column2'])
df = pd.read_csv('Iris.csv', usecols=['SepalLengthCm', 'SepalWidthCm','Species'])
df

     SepalLengthCm  SepalWidthCm         Species
0              5.1           3.5     Iris-setosa
1              4.9           3.0     Iris-setosa
2              4.7           3.2     Iris-setosa
3              4.6           3.1     Iris-setosa
4              5.0           3.6     Iris-setosa
..             ...           ...             ...
145            6.7           3.0  Iris-virginica
146            6.3           2.5  Iris-virginica
147            6.5           3.0  Iris-virginica
148            6.2           3.4  Iris-virginica
149            5.9           3.0  Iris-virginica

[150 rows x 3 columns]

In [55]:
#Skip erroneous rows:
# Syntax: df = pd.read_csv('filename.csv', error_bad_lines=False)
df = pd.read_csv('Iris.csv', on_bad_lines = "skip")
df
#Break files into chunks:
chunk_iter = pd.read_csv('Iris.csv', chunksize=10)
chunk_iter

Accessing Data from SQLite DB

In [59]:
# import dependency - Link:https://docs.python.org/3/library/sqlite3.html
import sqlite3 as sql

In [61]:
# create a connection to the database and a cursor to execute queries
conn = sql.connect('demo.db')
cur = conn.cursor()
cur.execute("CREATE TABLE movies(title, year, score)")
<sqlite3.Cursor at 0x1c9daa62540>
res = cur.execute("SELECT name FROM sqlite_master")
res.fetchone()
('movie',)
('movie',)
res = cur.execute("SELECT name FROM sqlite_master WHERE name='spam'")
res.fetchone() is None
True
cur.execute("""
 INSERT INTO movie VALUES
 ('Monty Python and the Holy Grail', 1975, 8.2),
 ('And Now for Something Completely Different', 1971, 7.5)
""")
conn.commit()
# query data from database
query = "SELECT * FROM movie"
results = cur.execute(query).fetchall()
res = cur.execute("SELECT score FROM movie")
res.fetchall()
data = [
 ("Monty Python Live at the Hollywood Bowl", 1982, 7.9),
 ("Monty Python's The Meaning of Life", 1983, 7.5),
 ("Monty Python's Life of Brian", 1979, 8.0),
]
cur.executemany("INSERT INTO movie VALUES(?, ?, ?)", data)
conn.commit() # Remember to commit the transaction after executingINSERT.
for row in cur.execute("SELECT year, title FROM movie ORDER BY year"):
 print(row)
conn.close()
new_con = sql.connect("tutorial.db")
new_cur = new_con.cursor()
res = new_cur.execute("SELECT title, year FROM movie ORDER BY scoreDESC")
title, year = res.fetchone()
print(f'The highest scoring Monty Python movie is {title!r}, released
in {year}')
# create a DataFrame from the DB data
df = pd.DataFrame(results)
df

SyntaxError: invalid syntax (886563778.py, line 5)